@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background-color: #24252A; */
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  /* font-size: 16px; */
}

br {
  line-height: 10px;
}

hr {
  line-height: 10px;
}

#map {
	height: 89%;
	width: 100%;
  /* border: 2px solid #ecf0f1; */
}

.info { 
  width: 195px;
	height: 215px;
  padding: 6px 8px; 
  font: 14px/16px "Montserrat", Arial, Helvetica, sans-serif;
  color: #24252A;
  /* background: white;  */
  /* background: rgba(255,255,255,0.8);  */
  background: rgba(236,240,241,0.85);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
  border:2px black solid;
  border-radius: 5px;
}

.info h3 { 
  margin: 0 0 5px;
  text-align: center;
}

.info h4 { 
  margin: 0 0 5px; 
  /* color: #ecf0f1; */
}

/* Top Navbar Style */

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #24252A;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
  background-color: #ecf0f1;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.h2class {
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  color: #24252A;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.line {
  border-bottom: solid #24252A; 
  display: block;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border:2px black solid;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0,136,169,0.8);
}

/* Accordion Styles */

.accordion {
  /* max-width: 316px; */
  max-width: 345px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  border:2px black solid;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  background: rgba(0,136,169,1);
}

.accordion__label,
.accordion__content {
  padding: 14px 20px;
}

.accordion__label {
  display: block;
  color: #ffffff;
  font-size: 1.25em;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
}

.accordion__label:hover {
  background: rgba(0, 0, 0, 0.1);
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
}

.accordion__content {
  background: #ecf0f1;
  line-height: 1.6;
  font-size: 1em;
  display: none;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}
